.inicio {
    h1, h2, h3 {
        text-align: center;
    }

    
    .presentacion {
        background-image: url(/multimedia/images/fondo-pres.png);
        background-size: contain;
        background-repeat: repeat;
        padding: 30px 0;
        margin-bottom: 15px;    
        border: black double 3px;
        border-radius: 10px;
    }
    

    .carousel-control-prev-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='00000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='00000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .img-carousel {
        @include img-size(50%, 50%);
        margin: 0 25%;
    }

    .videos-container {
        margin-bottom: 4%;
        margin-left: 2%;
    }

    .main-video {
        height: 100%;
        width: 90%;
    }
}

@media screen and (max-width:700px) {
    .inicio {
        h1, h2 {
            font-size: medium;
        }

        .img-carousel {
            @include img-size(70%, 80%);
            margin: 0 10%;
        } 

        .main-video {
            @include img-size(120%, 95%);
        }
    }
}

@media screen and (max-width:300px) {
    .inicio {
        h1, h2 {
            font-size: small;
        }
    }
}