section {
    .intro {
        text-align: center;
        background-color: white;
        margin-bottom: 3%;
    }
    .img-accordion {
        margin: 10px 0;
        @include img-size(300px,600px);
    }
}