section {
    .intro {
        text-align: center;
        background-color: white;
        margin-bottom: 3%;
    }
    .img-accordion {
        margin: 10px 0;
        @include img-size(48%,48%);
    }

    .container-img-colores {
        display: flex;
        justify-content: center;
    }

    .img-colores {
        @include img-size(58%,58%);
    }

    @media screen and (max-width: 750px) {
        .img-accordion {
            @include img-size(100%,100%);
        }

        .img-colores {
            @include img-size(100%,100%);
        }
    }
}
